.background {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0px;
    left: 0px;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logoanimation {
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 5vw;
    left: 5vw;
    background-image: url(images/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: anim 20s infinite normal;
}

.comingSoonText {
    position: absolute;
    top: 20vw;
    left: 5vw;
    text-align: center;
    text-decoration: none;
    text-shadow: rgb(51, 51, 51);
    font-family: 'Cinzel', serif;
    font-size: 80px;
}

.textSoon {
    position: absolute;
    top: 30vw;
    left: 5vw;
    width: 100vw;
    text-align: left;
    text-decoration: none;
    text-shadow: rgb(51, 51, 51);
    font-family: 'Cinzel', serif;
    font-size: 20px;
}
.form{
    position: absolute;
    top:70vh;
    left:5vw;
}
.buttonSubs{
    text-decoration: none;
    border:none;
    width:100px;
    height:40px;
    border:1px solid white;
    border-radius: 5px;
    background:rgb(255, 248, 211);
    font-size: large;
}
.format{
    padding:10px;}
.subscribe {
    border-top: none;
    border-left: none;
    border-right: none;
    width:300px;
    border-bottom-width: 5px;
    border-bottom-color: rgb(245, 180, 0);
    border-bottom-style: solid;
    font-family: 'Mitr', sans-serif;
    font-size: medium;
}
#mc_embed_signup {
    width:100%;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}